@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: "Raleway_regular";
    font-style: normal;
    src: url('../fonts/Raleway-Regular.woff') format('woff'), url('../fonts/Raleway-Regular.ttf') format('truetype'), url('../fonts/Raleway-Regular.otf') format('opentype');
}

@font-face {
    font-family: "Raleway_bold";
    font-style: bold;
    src: url('../fonts/Raleway-Bold.woff') format('woff'), url('../fonts/Raleway-Bold.ttf') format('truetype'), url('../fonts/Raleway-Bold.otf') format('opentype');
}

@font-face {
    font-family: "Raleway_italic";
    font-style: italic;
    src: url('../fonts/Raleway-Italic.woff') format('woff'), url('../fonts/Raleway-Italic.ttf') format('truetype'), url('../fonts/Raleway-Italic.otf') format('opentype');
}

* {
    margin: 0;
    box-sizing: border-box;
    font-size: 1rem;
    font-family: "Raleway_regular", sans-serif;
}

header,
footer,
.sidebar {
    color: white;
}

.contact {}

.core {
    color: black;
}

h1,
h2,
h3 {
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: bold;
}

h1 {
    font-size: 1.5em;
    text-align: center;
}

h2 {
    font-size: 1.2em;
    color: black;
}

.picture__caption {
    font-family: "Lato", sans-serif;
    font-size: 1.6em;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

.contact__link {
    font-style: italic;
    text-decoration: none;
    color: white;

}

footer {
    text-align: center;
}